{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="project clearfix mt-3 mb-3 mr-3">
        <a class="read_more float-right" href="{% url 'project:project_create' %}">프로젝트 생성</a>
    </div>
    <tbody>
    {% if project_list %}
        {% for project in project_list %}
            <div class="project">
                <div class="container">
                    <a href="{% url 'project:project_detail' project.id %}">
                        <div class="col-md-10">
                            <div id="bo_ho" class="we_box text_align_left">
                                <i><img src="{% static 'images/smaple.png' %}" style='width: 30px;'></i>
                                <h3>{{ project.subject }} <br>{{ project.target_product }}</h3>
                                <p>{{ project.content }}
                                </p>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}


    </tbody>
{% endblock %}
{#{% block script %}#}
{#<script type='text/javascript'>#}
{# $(document).ready(function(){#}
{#    $(".page-link").on('click', function() {#}
{#       $("#page").val($(this).data("page"));#}
{#       $("#searchForm").submit();#}
{#    });#}
{##}
{#    $("#btn_search").on('click', function() {#}
{#       $("#kw").val($(".kw").val());#}
{#       $("#page").val(1);#}
{#       $("#searchForm").submit();#}
{#    });#}
{##}
{#    $(".so").on('change', function() {#}
{#       $("#so").val($(this).val());#}
{#       $("#page").val(1);#}
{#       $("#searchForm").submit();#}
{#    });#}
{# });#}
{#</script>#}
{#{% endblock %}#}